.clients-list {
    display: flex;
    flex-wrap: wrap;
}

.clients-list__item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    max-width: 210px;

    transition: border-color $transition-duration $transition-timing-function;

    @media screen and (min-width: 768px) {
        max-width: 226px;
    }

   @media screen and (min-width: 1200px) {
        max-width: 170px;
    }

    &:hover {
        border-color: $accent-color;
    }
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;

    fill: #afb1b8;

    transition: fill $transition-duration $transition-timing-function;

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }


    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

