.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    gap: 8px;
}

.filter-list__button {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    color: $secondary-text-color;
    background-color: $button-background-color;
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    transition: color $transition-duration $transition-timing-function, background-color $transition-duration $transition-timing-function, box-shadow $transition-duration $transition-timing-function;

    &--first {
        padding: 6px 25px;
    }

    &:hover,
    &:focus {
        color: $primary-white-color;
        background-color: $accent-color;

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

