.form-modal {

    &__label {
        margin-bottom: 4px;

        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }

    &__link {
        color: $accent-color;
    }
}

.form-modal__field {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &--without-margin {
        margin: 0;
    }

    &--larger-margin {
        margin-bottom: 30px;
    }
}

.form-modal__input {
    width: 448px;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color $transition-duration $transition-timing-function;

    &:focus {
        border-color: $accent-color;
    }
}

.form-modal__icon {
    position: absolute;
    top: 29px;
    left: 12px;

    fill: $secondary-text-color;

    transition: fill $transition-duration $transition-timing-function;

    .form-modal__input:focus + & {
        fill: $accent-color;
    }
}

.form-modal__textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border-color $transition-duration $transition-timing-function;

    &:focus {
        border-color: $accent-color;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.form-modal__label-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    line-height: 1.71;
    letter-spacing: 0.03em;

    & input[type='checkbox'] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

.form-modal__checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;

    background-image: url(../images/checkbox.svg);

    .form-modal__checkbox:checked+& {
        background-image: url(../images/check.svg);
        background-size: contain;
    }
}





