.form-footer {
    &__text {
        margin-bottom: 20px;

        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: $primary-white-color;
    }

    &__container {
        display: flex;
        width: 570px;
        gap: 12px;
    }
}

.form-footer__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: $primary-white-color;
    background-color: $secondary-background-color;
    
    &:focus {
        border-color: $primary-white-color;
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25px;
        color: rgba(255, 255, 255, 0.6);
    }
}
