.menu-container {
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 796px;
        padding: 48px 40px;
        z-index: 999;

        background-color: $primary-white-color;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity $transition-duration $transition-timing-function;

        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}