.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-background-color;

    &__container {
        display: flex;
        align-items: baseline;
    }

    &__social-links {
        margin-left: 93px;
        margin-right: 93px;
    }

    &__social-title {
        display: block;
        margin-bottom: 20px;

        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;

        color: $primary-white-color;
    }
}


