.page-header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            position: relative;
            justify-content: space-between;
        }
    }

    &__navigation {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
}

